.slider-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  opacity: 0;
  transform: translateX(100%);
  /* Start from right */
}

.slide.active {
  opacity: 1;
  transform: translateX(0);
  /* Slide to center */
}

.caption {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  /* Increase caption width */
  text-align: center;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  font-size: 24px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.nav-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}